openapi: 3.1.0
info:
  title: weavix REST Channels & Messaging Crafts API
  version: '1.0'
  x-apievangelist-generated: '2026-07-21'
  x-apievangelist-method: generated
  x-apievangelist-source: https://help.weavix.com/hc/en-us/articles/23496154594573-weavix-REST-API-Documentation
  description: 'The weavix REST API lets administrators automate actions in the weavix "Internet of Workers" frontline communication platform from outside the weavix system: manage crafts, sites (facilities), geofences, permission groups, and users; send messages to admin-defined channels and individual users; retrieve message history and form submissions; and trigger mass alerts. Faithfully modeled by API Evangelist from weavix''s published REST API documentation (no vendor-published OpenAPI exists as of 2026-07-21). Authentication uses an account API key passed as an Authorization token.'
  contact:
    name: weavix Support
    email: help@weavix.com
    url: https://help.weavix.com/hc/en-us
servers:
- url: https://api.weavix.com
  description: weavix production API
security:
- apiKeyAuth: []
tags:
- name: Crafts
paths:
  /core/crafts:
    post:
      operationId: createCraft
      tags:
      - Crafts
      summary: Create a craft
      description: Creates a new craft with the specified name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Craft created
    get:
      operationId: listCrafts
      tags:
      - Crafts
      summary: Get a list of all crafts
      description: Returns a list of all the crafts on your account. Use it to obtain the craftId for a specific craft.
      responses:
        '200':
          description: A list of crafts
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Account API key passed as the Authorization request header. Keys are created in the weavix Console under Configuration -> API Keys (Secret + Authorization Token). Requests without a valid token receive 401.
